@import '../../../styles/variables.scss';

.firstUl {
  width: calc(100% - 350px);
  margin: 0 0 0 auto;

  @include media('<=tablet-landscape') {
    width: auto;
    margin: 0;
  }
}

.content {
  @include media('<=big-mobile') {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }

  .img {
    @include media('<=tablet-portrait') {
      margin-right: 15px !important;
      margin-bottom: 15px !important;
    }

    @include media('<=big-mobile') {
      margin: 0 !important;
      margin-top: 20px !important;
    }
  }
}
