@import '../../../styles/variables.scss';

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  .belt {
    width: 30%;
    background-color: $redColor;
    height: 3px;
    border-bottom-right-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-top-left-radius: 100%;

    @include media('<=tablet-landscape') {
      display: none;
    }
  }

  .header {
    width: fit-content;
    color: $redColor;
    text-align: center;
    letter-spacing: 2px;
    margin: 50px 20px;
    white-space: nowrap;

    @include media('<=tablet-landscape') {
      white-space: initial;
      width: 100%;
      letter-spacing: 1px;
    }
  }
}
