@import '../../../styles/variables.scss';

.container {
  .textAndImgContainer {
    display: grid;
    grid-template-columns: 500px calc(100% - 500px);
    grid-template-areas:
      'img text1'
      'img text2';
    margin-bottom: 50px;

    @include media('<=small-desktop') {
      grid-template-areas:
        'img text1'
        'text2 text2';
    }

    @include media('<=tablet-landscape') {
      grid-template-columns: 100%;
      grid-template-areas:
        'text1'
        'img'
        'text2';
    }

    .text1 {
      margin-left: 30px;
      grid-area: text1;
    }

    .text2 {
      margin-left: 30px;
      grid-area: text2;

      @include media('<=small-desktop') {
        margin: 30px 0 0 0;
      }
    }

    .text1,
    .text2 {
      @include media('<=big-mobile') {
        margin: 0;
        text-align: center;
      }
    }

    .img {
      grid-area: img;
      width: 480px;
      height: 270px;
      object-fit: cover;
      border-radius: 20px;
      border: 3px solid $footerColor;

      @include media('<=tablet-landscape') {
        margin: 30px auto;
      }

      @include media('<=big-mobile') {
        width: 300px;
        height: 170px;
      }
    }
  }

  .linkContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;

    @include media('<=big-mobile') {
      flex-direction: column-reverse;
    }

    .linkImg {
      width: 230px;
      height: 230px;

      @include media('<=big-mobile') {
        margin: 0 auto 30px auto;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .text {
      font-size: 18px;
      color: $textColor;
      font-weight: 500;
      margin-right: 30px;

      @include media('<=big-mobile') {
        text-align: center;
      }

      a {
        text-decoration: underline;
        transition: all linear 0.2s;

        &:hover {
          text-decoration: underline;
          color: $redColor;
        }
      }
    }
  }
}
