@import '../../../../styles/variables.scss';

.hamburgerMenuIcon {
  color: $textColor;
  z-index: 1e6;
}

.hamburgerMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 10001;
  background-color: #1e1c18ef;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 150px;
  color: white;

  .navItem {
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    color: white;

    svg {
      margin-left: 15px;
      path {
        fill: white;
      }
    }
  }

  .navIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    .navItem {
      svg {
        margin: 0;

        &:hover {
          path {
            fill: $darkGreyColor;
            transition: fill 0.2s linear;
          }
        }
      }
    }
  }
}

.hamburgerMenu {
  a,
  a:after,
  a:before {
    transition: all 0.3s;
  }
  a:hover {
    color: $redColor;
  }

  /* stroke */
  .navItem a {
    position: relative;
  }

  .navItem a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 2px;
  }

  .navItem a:hover:after {
    width: 100%;
  }
}
