@import '../../styles/variables.scss';

.section {
  height: calc(100vh - 100px);
}

.landingPage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url('../../src/assets/about/aboutImg.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;

  header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      @include media('<=tablet-portrait') {
        width: 80%;
        text-align: center;
        margin: 0 auto;
      }

      @include media('<=mobile') {
        width: 100%;
      }
    }
  }
}

.infoTitle {
  margin-top: 50px;
}

.belt {
  width: 100%;
  margin: 5px 0 10px 0;
  height: 1px;
  background-color: red;
}

.tile {
  width: 100%;
  margin: 50px 0;

  .infoImg {
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    border-radius: 20px;
    border: $footerColor 3px solid;
    grid-area: leftImg;
  }

  .infoImgRight {
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    border-radius: 20px;
    border: #2e2e2e solid 3px;
    grid-area: rightImg;
  }

  .text {
    // width: calc(100% - 240px);
    width: 100%;
    grid-area: text;
  }

  .textList {
    grid-area: list;

    ul {
      list-style-type: '- ';
      padding-left: 20px;

      li {
        color: $textColor;
        font-size: 18px;
        font-weight: 400;
      }
    }
  }
}

.lightBg {
  background-color: $lightGreyColor;
  padding: 50px 0;
  height: fit-content;
}

.firstTile {
  display: grid;
  gap: 30px;
  grid-template-columns: 270px calc(100% - 300px);
  grid-template-areas:
    'leftImg text'
    'leftImg list';

  @include media('<=tablet-landscape') {
    margin-top: 0;
    grid-template-areas:
      'text text'
      'leftImg list';
  }

  @include media('<=tablet-portrait') {
    grid-template-columns: 210px calc(100% - 240px);
    grid-template-areas:
      'leftImg text'
      'list list';
  }

  @include media('<=big-mobile') {
    grid-template-columns: 100%;
    gap: 10px;
    grid-template-areas:
      'text'
      'leftImg'
      'list';
  }

  .infoImg {
    @include media('<=tablet-portrait') {
      width: 210px;
      height: 280px;
    }

    @include media('<=big-mobile') {
      margin: 0 auto;
      margin-bottom: 10px;
    }
  }

  .text {
    margin-bottom: -10px;
    height: fit-content;
  }
}

.midTile {
  margin: 0;
  display: grid;
  gap: 30px;
  grid-template-columns: calc(100% - 300px) 270px;
  grid-template-areas:
    'text rightImg '
    'list rightImg ';

  @include media('<=tablet-landscape') {
    margin-top: 0;
    grid-template-areas:
      'text text'
      'list rightImg';
  }

  @include media('<=tablet-portrait') {
    grid-template-areas:
      'text rightImg'
      'list list';
    grid-template-columns: calc(100% - 240px) 210px;
  }

  @include media('<=big-mobile') {
    grid-template-areas:
      'text'
      'rightImg'
      'list';
    grid-template-columns: 100%;
    gap: 10px;
  }

  .infoImgRight {
    @include media('<=tablet-portrait') {
      width: 210px;
      height: 280px;
    }

    @include media('<=big-mobile') {
      margin: 0 auto;
      margin-bottom: 10px;
    }
  }

  .text {
    margin-bottom: -10px;
    height: fit-content;
  }
}

.thirdTile {
  display: flex;

  @include media('<=tablet-landscape') {
    flex-direction: column-reverse;
  }

  .text {
    margin-left: 30px;

    @include media('<=tablet-landscape') {
      margin: 0 0 30px 0;
    }
  }

  img {
    @include media('<=tablet-landscape') {
      margin: 0 auto;
    }

    @include media('<=big-mobile') {
      width: 300px;
      height: 170px;
    }
  }
}
