@import './breakpoints.scss';
@import 'include-media';

$redColor: #7a89c2;
$darkGreyColor: #201f1e;
$lightGreyColor: #333333;
$textColor: #fff4f0;
$footerColor: rgb(26, 24, 24);
$tableBorder: 1px solid $footerColor;

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

// $darkGreyColor: #1e1c18;
