@import './breakpoints.scss';
@import 'include-media';

$redColor: #db4339;
$darkGreyColor: #201f1e;
$lightGreyColor: #3f3f3f;
$textColor: #fff4f0;
$footerColor: rgb(26, 24, 24);

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

// $darkGreyColor: #1e1c18;
